{% extends "layout.html" %}

{% block content %}

<div class="container">
	<div class="page-header"><h1>Which did you mean?</h1></div>
	<ul>
    {% if docs.length > 0 %}
      <ul>
        {% for doc in docs %}
          <li><a href="{{doc.url_name}}?f">{{doc.title}}</a> | {{doc.body | truncator}}</li>
        {% endfor %}
      </ul>
    {% else %}
      There are no pages. Why don't you <a href='/add'>add one</a>?
    {% endif %}
	</ul>
	<br>
</div>
<div class="container">
	<div class="well well-sm"> wikiStack - FullStack Academy</div>
</div>
{% endblock %}